SQLSERVER_CONN_STR=Driver={ODBC Driver 18 for SQL Server};Server=tcp:dumblingsql.database.windows.net,1433;Database=dumblingSQL;Uid=CloudSA876fa046;Pwd={your_password_here};Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;
